<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="CarRentalManagementSystem-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/carRentalManagementSystem</jta-data-source>
    <class>entity.CustomerEntity</class>
    <class>entity.EmployeeEntity</class>
    <class>entity.OutletEntity</class>
    <class>entity.RentalRateEntity</class>
    <class>entity.CategoryEntity</class>
    <class>entity.CarEntity</class>
    <class>entity.ModelEntity</class>
    <class>entity.RentalReservationEntity</class>
    <class>entity.PartnerEntity</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
